*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: black;
    outline: none;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #101935;

}
.container-principal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculadora{
    background-color: #ffffff;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}
.calculadora h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
input , .btn-calcular{
    background-color: #101935;
    width: 100%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px;

}
input::placeholder{
    color: #ffffff;
}
.btn-calcular{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}
.btn-calcular:hover{
    opacity: 50%;
}
.resultado{
    border: 2px solid black;
    background-color: #ffffff4d;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 10px;
    text-align: justify;
}
.resultado p{
    padding-right: 5px;
    font-size: 0.9rem;
}
.rodape{
    padding-top: 20px;
}
.rodape p{
    font-size: 1.0rem;
}
.rodape a{
    color: #101935;
    font-size: 1.2rem;
}
span{
    font-weight: bold;
}